<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970302624586-oelbupve66ob3ldmjtj30k85hol9n8ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970302624586-oelbupve66ob3ldmjtj30k85hol9n8ua</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ8w6pKlvxZgOepa7TO_h4wgn3vfoG6YE</string>
	<key>GCM_SENDER_ID</key>
	<string>970302624586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedis.berlin</string>
	<key>PROJECT_ID</key>
	<string>vedis-8179e</string>
	<key>STORAGE_BUCKET</key>
	<string>vedis-8179e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970302624586:ios:3a084775b83f676e</string>
	<key>DATABASE_URL</key>
	<string>https://vedis-8179e.firebaseio.com</string>
</dict>
</plist>